<div class="background">
  <div class="inside-contents">
    <h1>Fun with AI</h1>

    <p>Enter prompt</p>
    <textarea #promptText></textarea><br>
    <button mat-raised-button color="primary" class="button-submit" (click)="sendText(promptText.value)">Submit</button>
    <br>

    <h2>Responses</h2>

    <div *ngIf="responseList.length > 0; then showResponses else noResponse"></div>

    <ng-template #showResponses>
      <table *ngFor="let response of responseList">
        <mat-card class="inside-mat-card">
          <tr>
            <td>Prompt:</td>
            <td>{{response.request}}</td>
          </tr>
          <tr>
            <td>Response:</td>
            <td>{{response.response}}</td>
          </tr>
        </mat-card>
      </table>
    </ng-template>

    <ng-template #noResponse>
    </ng-template>

  </div>
</div>
